{% extends "modcp/base.html" %}
{% block "title" %}Add Announcment{% endblock %}
{% block "content" %}
  
  <div class="page-announce valign-wrapper"><a href="#" data-activates="slide-out" class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a><h1 class="page-announce-text valign">// Add Announcement </h1></div>
  <div class="container">
    {% if error %}
      <div class="alert alert-danger">{{ error }}</div><br>
    {% endif %}
    {% if success %}
      <div class="alert alert-success">Your announcement was successfully posted!</div><br>
    {% endif %}
    <div class="row">
      <form action="/mods/announcement/add" method="POST" enctype="multipart/form-data" class="col s12">
        {% csrf_token %}
        <div class="row">
          <h5>Type of announcement</h5>
          <p>
            <input type="radio" name="type" value="success" id="success" />
            <label for="success">Success</label>
          </p>
          <p>
            <input type="radio" name="type" value="warning" id="warning" />
            <label for="warning">Warning</label>
          </p>
          <p>
            <input type="radio" name="type" value="danger" id="danger" />
            <label for="danger">Danger</label>
          </p>
        </div>
        <div class="row">
          <p>
            <input type="checkbox" name="apidisable" value="true" id="disableLogin" />
            <label for="disableLogin">Disable Login?</label>
          </p>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="text" maxlength="200" />
            <label for="text">Message: </label>
          </div>
        </div>
        <div class="center-align"><input class="btn btn-success"type="submit" value="Submit" /></div>
      </form>
    </div>
  </div>
{% endblock %}